{% extends 'layout.html' %}
  
{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Manage Books</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Manage Books</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <h3>Book Edit</h3>
            <form method="post" id="bookForm" action="{{ url_for('save_book')}}">
                <div class="card-body">               
                                        
                        <div class="form-group">                          
                            <label for="book" class="control-label">Book</label>                            
                            <input type="text" name="name" id="name" autocomplete="off" class="form-control" value="{{books.name}}"/>                             
                        </div>                    
                        <div class="form-group">                          
                            <label for="book" class="control-label">ISBN No</label>                         
                            <input type="text" name="isbn" id="isbn" autocomplete="off" class="form-control" value="{{books.isbn}}"/>                                        
                        </div>
                        <div class="form-group">                          
                            <label for="book" class="control-label">Cantidad</label>                         
                            <input type="number" name="cantidad" id="cantidad" autocomplete="off" class="form-control" value="{{books.cantidad}}"/>        
                        </div>
                        <div class="form-group">                          
                            <label for="book" class="control-label">Talla</label>                         
                            <input type="text" name="talla" id="talla" autocomplete="off" class="form-control" value="{{books.talla}}"/>        
                        </div>
                        <div class="form-group">                          
                            <label for="book" class="control-label">Costo</label>                         
                            <input type="number" name="precio_prov" id="precio_prov" autocomplete="off" class="form-control" value="{{books.precio_prov}}"/>        
                        </div>
                        <div class="form-group">                          
                            <label for="book" class="control-label">Precio</label>                         
                            <input type="number" name="precio_retail" id="precio_retail" autocomplete="off" class="form-control" value="{{books.precio_retail}}"/>        
                        </div>
                        <div class="form-group">                          
                            <label for="book" class="control-label">Fecha</label>                         
                            <input type="date" name="fecha_ent" id="fecha_ent" autocomplete="off" class="form-control" value="{{books.fecha_ent}}"/>        
                        </div>
                        <div class="form-group">                          
                          <label for="book" class="control-label">Seleccionar Proveedor</label>                         
                          <select name="prov_id" id="prov_id" value="{{books.prov_id}}"/>
                            {% for proveedor in proveedores %} 
                            <option value="{{proveedor.id}}">{{proveedor.name}}</option>
                            {% endfor %}
                          </select>   

                        <div class="form-group">                          
                            <label for="book" class="control-label">Picture</label>                         
                            <img src="static/images/{{books.picture}}" width="360"/>
                        </div>                               
                         
                        <input type="hidden" name="bookid" id="bookid" value="{{books.bookid}}" />                                    
                        <input type="hidden" name="action" id="action" value="updateBook" />
                        <input type="submit" name="save" id="save" class="btn btn-info" value="Save" />                    
                </div>
            </form>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
{% endblock %}