{% extends 'layout.html' %}
  
{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Prueba</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Prueba</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Prueba</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Proveeedor</th>
              <th>Cantidad Productos</th>
              <th>Deuda</th>
              <th>Prueba</th>
              <th>Prueba</th>
            </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %} 
                <tr>
                <td>{{proveedor.name}}</td>
                <td>{{m}}</td>
                <td>prueba</td>
                <td>prueba</td>
                <td>prueba</td>
                </tr>
            {% endfor %}                      
            </tbody>            
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->




{% endblock %}